<!DOCTYPE html>
<html>
    <head>
        <h1>Transaction App Manager</h1>
    </head>
    <body>
        <h2>Create a new Record</h2>
        <form id="create" method="post">
            <input type="text" name="movie_id" id="movie_id" class="field" placeholder="Enter movie_id" required> <br>

            
            <br>
            <input type="submit" id="submit" value="SUBMIT">
    </body>
</html>