<!DOCTYPE html>
<html>
<head>
    <title>Transaction App Manager - Create Record</title>
</head>
<body>
    <h1>Transaction App Manager</h1>
    <h2>Create a new Record</h2>
    <form id="create" method="post">
        <input type="text" name="movie_id" id="movie_id" class="field" placeholder="Enter movie_id" required> <br>
        <br>
        <input type="submit" id="submit" value="SUBMIT">
    </form>
    <script src="/js/create.js"></script>
</body>
</html>
