<!DOCTYPE html>
<html>
    <head>
        <h1>Transaction App Manager</h1>
    </head>
    <body>
        <h2>CRUD operations:</h2>
        <a href="create.html"><p>Create Record</p></a>
        <a href="read.html"><p>Read Record</p></a>
        <a href="update.html"><p>Update Record</p></a>
        <a href="delete.html"><p>Delete Record</p></a>
    </body>
</html>