<!DOCTYPE html>
<html>
    <head>
        <h1>Transaction App Manager</h1>
        <!-- <script type="module" src="../db1.js"></script> -->
    </head>
    <body>
        <h2>CRUD operations:</h2>
        <a href="create.html"><p>Create Record</p></a>
        <a href="read.html"><p>Read Record</p></a>
        <a href="update.html"><p>Update Record</p></a>
        <a href="delete.html"><p>Delete Record</p></a>
        <button id="connect-btn" onclick="connect()">Connect</button>
        <p id="result"></p>
        <script type="module">
            import Db1 from '../db1.js'

            function connect(){
                var output = document.getElementById('result');
                output.innerHTML = 'Clicked';
                Db1.start()
            }
        </script>
    </body>
</html>